@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
}

* {
  font-family: 'Merriweather';
}

header h1 {
  text-align: center;
  padding-bottom: 50px;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-top: 50px;
  background-color: skyblue;
  margin: 70px 70px;
}

#output {
  background-color: white;
  padding: 0px 5px;
  border-radius: 5px;
  box-shadow: 3px 3px midnightblue;
  margin-top: 50px;
}

#button {
  background-color: white;
  border-radius: 20px;
  border: 1px solid blue;
}
