@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
}

* {
  font-family: 'Merriweather';
}

header h1 {
  text-align: center;
  padding-bottom: 50px;
}

.generate {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-top: 50px;
  background-color: skyblue;
  margin: 70px 70px;
  border: 2px solid red shadow;
}
