@font-face {
	 font-family: 'Merriweather';
  	 font-style: normal;
  	 font-weight: 400;
  	 src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5-fCZM.woff2) format('woff2');
}

* {
	font-family: 'Merriweather';
	font-size: 16px;
	margin: 0;
}

.header {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-content: content;
	width: 100%;
	max-height: 80px
	position: fixed;
	background-color: black;
	opacity: 0.9;
}

.header img{
	 display: flex;
         justify-content: flex-start;
	 height: 50px;
}

.header ul {
	display: flex;
	align-content: center;
	text-align: center;
	justify-content: flex-end;
	list-style-type: none;
	padding: 0 20px;
}

.header li {
	margin-right: 30px;
}

.header li a::before {
	text-decoration: none;
}

.country_club {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	text-align: center;
	background-color: brown;
	width: 100%;
	padding: 15px 0;
        margin: 0 auto;
}

.country_club img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center ;
	max-width: 100%;
	max-height: 70%;
}

.promo {
	align-content: right;
	text-align: right;;
	width: 100%;
	margin: 0 auto;
	
}

.promo h2 {
	font-weight: bold;
	font-size: 1.6rem;
	text-align: right;
	padding-bottom: 100px;
}

.promo img {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	width: 100%;
	max-height: 500px;
}

.promo p, span {
     text-align: right;
     align-content: right;
     font-size: 1.125rem;
     padding-bottom: 50px;
     
}

.promo span {
   color: brown;
}

.features {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	width: 50%;
	margin: 0 auto;
	max-width: 1200px;
	
}
#features_head{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	font-weight: bold;
	text-align: center;
	font-size: 0.9rem;
}
.features img {
	max-width: 200px;
	max-height: 300px;
	padding-right: 30px;
}

.features figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	text-align: center;
	max-height: 100%;
	max-height: 100%;
	background-color: brown;
	width: 100%;
}

#contact {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	text-align: center;
}

#address {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	text-align: center;
}

.footer span {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	align-content: right;
	font-size: 0.5rem;
}
@media only screen and (max-width:768px) {
	.header ul {
		display: none;
	}
	.footer span {
		display: none;
	}
	.promo {
	   font-size: 1.575rem;
	}
	.features {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		flex-wrap: wrap;
	}
	
}  
@media only screen and (max-width:480px) and (orientation: portrait) {
	* {
	 font-size: 2.5rem;
	}
	.header ul {
		display: none;
	}
	.country_club {
	   width: auto;
	   padding: auto;
	   height: 100%
	}
	.footer span {
		display: none;
	}
	.promo {
	}
	.features {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		flex-wrap: wrap;
	}
	.feature_head{
		text-align: center;
		margin: 0 auto;
	}
	.feature img {
		max-width: 300px;
		max-height: 300px;
		padding: 40px;
}
