@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}
* {
	font-family: 'Roboto';
	color: midnightblue;
	font-size: 16px;
	margin: 0 auto;
}
h3 {
	text-align: center;
	font-size: 4rem;
}
.header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	background-color: white;
	max-width: 100%
}
.header img {
	display: flex;
	justify-content: flex-start
        height: 60px;
	padding-left: 10px;
}
.nav ul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	margin-left: 80px;
	margin-right: 20%;
}
#transit {
	display: flex;
	flex-direction: row;
	align-content: left;
	justify-content: space-around;
	background-color: yellowgreen;
	max-width: 100px;
	min-height: 25%;
	padding: 50px 50px;
	opacity: 0.8;
	top: 20%;
}
#transit_image {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: right;
	max-width: 100%;
	min-height: 75px;
}

.info {
	background-image: url("/resources/bus.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	max-width: 100%;
	height: 700px;
}
.info h3 {
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: space-around;
	background-color: white;
	opacity: 0.8;
	
}
.employee {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 100px;
	margin-top: 50px;
}
.employee img {
	max-width: 200px;
	max-height: 300px;
	padding-left: 30px;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	background-color: gray;
	max-width: 100%;
}
#phone {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	text-align: center;
}
#phone img {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: left;
	margin-right: 5px;
	max-width: 50%;
	width: 50px;
	height: 25px
	max-height: 100%;
}
