@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}
* {
	font-family: 'Roboto';
	color: midnightblue;
	font-size: 16px;
	margin: 0 auto;
}
h3 {
	text-align: center;
	font-size: 4rem;
}
.header {
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-content: center;
	background-color: blue;
	opacity: 0.9;
	width: 100%;
	border-bottom: 1px solid black;
}
.header img {
	display: flex;
	justify-content: flex-start
        height: 60px;
	margin-left: 10px;
}
.header ul{
	display: flex;
	justify-content: flex-end;
	list-style-type: none;
	font-size: 3rem;
	padding: 0 20px;
}
.header ul a::after {
	text-decoration: none;
	content: " >";
	color: black;
}
.transit{
	background-image: url("/resources/tri-delta.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	height: 700%;
	background-position: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 70px;
}
.transit h2 {
	background-color: yellowgreen;
	text-align: center;
	align-content: center;
	width: 100%;
	padding: 10px;
	opacity: 0.8;
	font-size: 2rem;
}

.info {
	background-image: url("/resources/bus.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	max-width: 100%;
	height: 500px;
	margin-top: 300px;
}
.info h3 {
	text-align: center;
	align-content: center;
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	
}
.employee {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 100px;
	margin-top: 50px;
}
.employee img {
	max-width: 200px;
	max-height: 300px;
	padding-left: 30px;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	background-color: gray;
	max-width: 100%;
}
#phone {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	text-align: center;
}
#phone img {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: left;
	margin-right: 5px;
	max-width: 50%;
	width: 50px;
	height: 25px;
	max-height: 100%;
}
