
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2) format('woff2');
}

* {
	font-family: 'Montserrat';
	font-size: 18px;
}

a {
 text-decoration: none;
}

#profile h1 {
	font-size: 2.2rem;
}

#profile {
	background-image: url("/resources/img/humpback-whale-underwater-portrait--107312834-5a01c2cab39d03001952917f.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
	max-height: 40%;
	max-width: 30%;
	
}

#background, #portfolio, .contact {
	margin-top: 100px;
	border: 1px solid blue;
	box-shadow: 2px 2px skyblue;
	padding: 0px 20px;
	background-color: lightblue;
}

#background span {
	color: darkblue;
	font-weight: 500;
}

#portfolio span {
	color: red;
	font-weight: 500;
}

#links {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-content: center;

#portfolio{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: space-around;
}



#portfolio img {
	max-height: 200px;
	max-width: 300px;
}

#portfolio figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      margin-left: 10%;
}

.contact {
	background-color: lightgrey;
	text-align: center;
}

#social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#social img {
	height: 50px;
	width: 50px;
	background: transparent;
	margin: 20px 10px;
	border: 1px solid black;
}

.contact p {
	margin: 20px 0px;
	display: flex;
	flex-direction: row;
	text-align: right;
	align-content: flex-end;
	background-color: white;
	max-width: 20%;
	border-radius: 20px;
	box-shadow: 3px 3px darkblue;
	font-weight: 300;
	font-size: 12px;
}
