
@font-face {
   font-family: "Helvetica";
   font-weight: 400;
   font-style: normal;
   src: url(https://fonts.gstatic.com/l/font?kit=JIAxUVNqfH9WuVQQRM4zVxOn&skey=22efecd2bc0e2cb0&v=v9) format('woff2');
}
* {
   font-family: 'Helvetica';
   color: seashell;
   font-size: 22px;
   background-color: black;
}
.nav{
   display: inline-block;
   position: fixed;
   opacity: 0.9;
   border-bottom: 1px solid seashell;
   width: 100%;
   height: 80px;
   padding-top: 30px;
}
.nav img {
   padding-left: 10px;
   height: 50px;
}
.nav a {
   text-decoration: underline;
   display: inline-block;
}
.nav li {
   text-align: right;
   margin-left: 1000px;
}
#image img {
   display: block;
   width: 100%;
   height:700px;
   margin-right: auto;
   margin-left: auto;
}
.description {
   padding-bottom: 240px;
   text-align: center;
}
}
#lists{
   display: inline-block;
   float: left;
   width: 50px;
   height: 50px;
   margin-left: 30px;
   margin-botom: 10px;
}
.catalog {
   width: 1000px;
   background-color: black;
   
}
.locations ul {
   text-align: center;
   padding-bottom: 100px;
   float: left;
   opacity: 1;
   border: 1px solid black;
   width: 100px;
   height: 200px
   margin-right: 40px;
   margin-top: 15px;
}
footer {
   padding-bottom: 200px;
}
span {
   display: inline-block;
   position: relative;
   text-align: left;
   margin-left: 20px;
   text-align: left;
}

