
@font-face {
   font-family: "Helvetica";
   font-weight: 400;
   font-style: normal;
   src: url(https://fonts.gstatic.com/l/font?kit=JIAxUVNqfH9WuVQQRM4zVxOn&skey=22efecd2bc0e2cb0&v=v9) format('woff2');
}
* {
   margin: 0;
   font-family: 'Helvetica';
   color: seashell;
   background-color: black;
   align-items: center;
   text-align: center;
}
.nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: fixed;
   opacity: 0.9;
   border-bottom: 1px solid seashell;
   width: 100%;
   max-height: 80px;
   background-color: black;
}
.nav img {
   display: flex;
   justify-content: flex-start;
   margin-left: 10px
   margin-bottom: 50px;
}
.nav ul{
   display: flex;
   justify-content: flex-end;
   text-decoration: underline;
   padding: 0 20px;
}
.mission {
   background-image: url('/resources/img-mission-background.jpg');
   max-width: 1200px;
   height: 700px;
   background-repeat: no-repeat;
   background-position: center;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding-top: 70px;
}
.mission div {
   width: 100%;
   padding: 10px;
   opacity: 0.8;
}
.catalog {
   width: auto;
   max-width: 1000px;
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding: 15px 0;
   background-color: black; 
   justify-content: space-around;
   align-items: center;
}
.catalog-pics {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.catalog-pics img {
  max-width: 300px;
  max-height: 200px;
  padding: 10px;
}
.locations h2 {
   opacity: 0.7;
   text-align: center;
}
.locations{
   margin: 0 auto;
   background-image: url('/resources/img-locations-background.jpg');
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   max-width: 1200px;
   height: 500px;
   width: 50%;
}
.locations-box {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-color: transparent;
}
.locations-info{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background-color: black;
   opacity: 0.8;
   width: auto;
   max-width: 300px;
   min-height: 100%;
   margin: 15px 20px;
   padding: 15px 40px;
}
.locations-info p, h3 {
   margin: 10px auto;
}
.contact {
   display: flex;
   flex-direction: column;
   text-align: right;
   max-width: 1000px;
   min-height: 200px;
   justify-content: space-around;
   align-items: right;
   width: 100%;
   margin-left: 700px;
}
.about span {
   display: flex;
   align-items: left;
   justify-content: flex-start
   text-align: left;
   margin-bottom: 20px;
   margin-left: 20px; 
}

