@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400px;
  src: url('https://fonts.gstatic.com/s/ptsans/v17/jizaRExUiTo99u79D0KExQ.woff2') format('woff2');
}
body
{
  background-image: url("../resources/whale.png");
  text-align: center;
}
h1.opener {
  padding: 20px 20px;
  margin: auto;
  color: rgba(0, 0, 0, 0.9);
  font-family: Roboto, Times, san-serif;
  font-weight: bold;
}
h2.extra {
  font-size: 60px;
  font-weight: bold;
}
h3.extra {
  color: rgba(0, 0, 0, 0.9);
  font-family: Montserrat, serif;
  font-size: 40px;
  font-style: italic;
  padding-bottom: 20px;
}
 p.extra{
  font-size: 30px;
  font-family: Courier, Times, san-serif;
  font-weight: bold;
  color: black;
  padding-bottom: 20px;
}
span {
  font-weight: lighter;
  font-style: italic;
}
#opener {
  margin: auto;
  padding: 10px 10px;
}
#extra {
  margin: auto;
  padding: 20px top;
}
#ends{
  margin: auto;
  padding: 40px top;
  font-size: 40px;
  font-family: 'PT Sans', serif;
  color: black;
  padding-bottom: 20px;
}
.twit img, .gmail img, .git img {
  width: 40px;
  height: 40px;
}
.twit a, .gmail a, .git a {
  display: inline-block;
  border: 1px solid black;
}
.twit a:hover, .gmail a:hover, .git a:hover {
  cursor: pointer;
  background-color: skyblue;
}
.twit a:visited, .gmail a:visited, .git a:visited {
  background-color: purple;
}
